<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<mapping class="com.photo.bank.entity.Albums" /> 
    	<mapping class="com.photo.bank.entity.Photos" /> 
    	<mapping class="com.photo.bank.entity.Users" /> 
    </session-factory>
</hibernate-configuration>
